body{
  background-image: url('/paperbg.jpeg');
  background-repeat: repeat;
}
.container {
  flex-grow: 1;
  display: grid; 
  grid-template-columns: repeat(auto-fill);
    grid-template-rows: repeat( auto-fit); 
  gap: 0px 0px; 
  grid-template-areas: 
  "dot1 . . dot3 ."
  ". . dot2 . ."
  "dot4 . . . dot5"
  ". . . . ."; 
}

.container img{
  width:  200px;
}
.dot1 { grid-area: dot1;}
.dot2 { grid-area: dot2; }
.dot3 { grid-area: dot3;}
.dot4 { grid-area: dot4;}
.dot5 { grid-area: dot5;}
.dot6 { grid-area: dot6;}

.flexbox{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Navbar */

#nav{
  height: 200px;}

.flexbox1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Directory */

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "projects . tech"
    "social . testimonials"
    ". about-me .";
    justify-content: center; 
    align-content: center; 
}

.container2 img{
  width: 400px;
}
.projects { grid-area: projects; }

.tech { grid-area: tech; }

.social { grid-area: social; }

.testimonials { grid-area: testimonials; }

.about-me { grid-area: about-me; }






/* Media Viewport */

@media only screen and (max-width: 600px) {
  .container, .container2{
    display: flex;
    flex-direction: column;
  }
 }
