*{
font-family: 'Cormorant Garamond', serif;
}

body{
  background-image: url('/paperbg.jpeg');
  background-repeat: repeat;
}
.container {
  flex-grow: 1;
  display: grid; 
  grid-template-columns: repeat(auto-fill);
    grid-template-rows: repeat( auto-fit); 
  gap: 0px 0px; 
  grid-template-areas: 
  "dot1 . . dot3 ."
  ". . dot2 . ."
  "dot4 . . . dot5"
  ". . . . ."; 
}

.container img{
  width:  200px;
}
.dot1 { grid-area: dot1;}
.dot2 { grid-area: dot2; }
.dot3 { grid-area: dot3;}
.dot4 { grid-area: dot4;}
.dot5 { grid-area: dot5;}
.dot6 { grid-area: dot6;}

.flexbox{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Navbar */

#nav{
  height: 200px;}

.flexbox1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Directory */

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "projects aboutme tech"
    "social testimonials home";
}

.projects { grid-area: projects; }

.tech { grid-area: tech; }

.social { grid-area: social; }

.aboutme { grid-area: aboutme; }

.testimonials { grid-area: testimonials; }

.home { grid-area: home; }


.container2 img{
  width: 400px;
}


#directoryheader{
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* About Me Page */

#columnmaker{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "left right"; 
    justify-content: space-between; 
    align-content: stretch; 
  }
  .left { grid-area: left; }
  .right { grid-area: right; }

  /* Left About Me */

.info{
  text-align: center;
}

#pics{
  display:flex;
  flex-direction: column;
}



/* Right About Me */

#rightoutside{
  background-image: url('/aboutmerightbg.png');
  /* background-position: center; */
  background-size: auto;
  height: 100vh;
  width: 100vh;

}
h1{
  text-align: left;
}
#funfacts{
  font-size: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #c4e600, 0 0 30px #e66800, 0 0 40px #f060f0;
  font-weight: bold;
  word-wrap: break-word;
}


/* Media Viewport */

@media only screen and (max-width: 600px) {
  .container, .container2{
    display: flex;
    flex-direction: column;
  }

  #columnmaker{
    display:flex;
    flex-direction: column;
  }
 }

@media only screen and (max-width: 800px) {
    #columnmaker{
    display:flex;
    flex-direction: column;
  }
 }
